body {
  height: 100%;
  font-family: 'Noto Sans', sans-serif;
  background-color: #ab4493;
}

.formulario {
  width: 700px;
  height: auto;
  margin: 80px auto;
  border-radius: 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: #fbfbfb;
  padding-left: 30px;
}

.campos {
  outline: 0;
  background-color: #fbfbfb;
  width: 95%;
  height: 40px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #ab4493;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 10px;
}

.campos2 {
    outline: 0;
    background-color: #fbfbfb;
    width: 95%;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #ab4493;
    margin-top: 10px;
    padding-left: 10px;
    margin-bottom: 10px;
  }

textarea {
  outline: 0;
  background-color: #fbfbfb;
  width: 95%;
  height: 150px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #ab4493;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
  padding-top: 15px;
}

button {
  height: 45px;
  margin-bottom: 10px;
  margin-top: 10px;
  text-transform: uppercase;
  background-color: #ab4493;
  border-color: #290a22;
  border-style: solid;
  border-radius: 10px;
  width: 100%;
  cursor: pointer;
  color: white;
}

span {
    color:#972b77;
  }

form {
  width: 600px;
  margin: 10px auto;
}

h1,.center {
  text-align: center;
  width: 95%;
}

fieldset {
  border: 2px solid #000;
  border-radius: 8px;
  
}

.input_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.input_div {

  display: flex;
  flex-direction: column;
}


.little {

    font-size: 0.7em;
}

/**  lo he quitado ya que sin usar js cambia el diseño al principio 
y no me termina de convencer.

:invalid   {
  background-color: #e79ad0;
}
*/



:focus {
  border-color: #972b77;
  border-width: 3px;
  
}

@media (max-width: 480px) {
  nav ul,
  .imagenes {
    display: block;

    
  }

  form {
    width: auto;
    margin: 10px auto;
  }

  .formulario {
    width: auto;
    height: auto;
    margin: 20px auto;
    border-radius: 10px;
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: #fbfbfb;
    padding-left: 10px;
  }

  .input_container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
  }

}



@media (max-width: 800px) {
  
  nav ul,
  .imagenes {
    display: block;

    
  }
  form {
    width: auto;
    margin: 10px auto;
  }

  .formulario {
    width: auto;
    height: auto;
    margin: 20px auto;
    border-radius: 10px;
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: #fbfbfb;
    padding-left: 10px;
  }

  .input_container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
  }
  
}



